{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h3>
            Présences de <a href="{{ path('enfant_show', { 'slugname': enfant.slugname }) }}">{{ enfant }}</a> pour
            <strong><a href="{{ path('plaine_show', { 'slugname': plaine.slugname }) }}">{{ plaine }}</a></strong>
        </h3>
    </div>

    {% include 'plaine/plaine_presence/actions.html.twig' %}

    <h4 class="text-success">Est inscrit aux dates :</h4>
    <br/>
    {% if presences | length > 0 %}
        <table class='table table-bordered table-hover'>
            <thead>
            <tr>
                <th>Date</th>
                <th>Absent ?</th>
                <th>Tuteur</th>
                <th>Ordre</th>
                <th>Paiement</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for presence in presences %}
                {% set jour = presence.jour %}
                <tr>
                    <td>
                        {{ jour }}
                    </td>
                    <td>{{ presence.absent | absencetext }}</td>
                    <td>
                        {% if presence.tuteur %}
                            <a href="{{ path('tuteur_show', {'slugname' : presence.tuteur.slugname }) }}">
                                {{ presence.tuteur }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if presence.ordre %}
                            {{ presence.ordre }}
                        {% else %}
                            {{ enfant.ordre }}
                        {% endif %}
                    </td>
                    <td>
                        {{ presence.paiement }}
                    </td>
                    <td>
                        <a href="{{ path('plainepresence_edit', {'id' : presence.id }) }}"
                           class="btn btn-sm btn-primary" role="button"><i class="far fa-edit"></i>
                            Editer</a>

                        {% include 'plaine/plaine_enfant/buttonpayer.html.twig' %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-danger">Aucune date !</p>
    {% endif %}

    {% include 'plaine/plaine_presence/remove_enfant.html.twig' %}

{% endblock %}
