{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h3> Animateurs pour le jour de garde :
            {{ entity.datejour | datefr }}
        </h3>
    </div>

    {{ form_errors(form) }}
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-4">
            {% for animateurField in form.animateurs %}
            {{ form_label(animateurField) }}
            {{ form_widget(animateurField) }}
            {% if loop.index == loop.length // 2 %}
        </div>
        <div class="col-md-4">
            {% endif %}
            {% endfor %}
        </div>
    </div>

    {{ form_row(form.submit) }}
    {{ form_end(form) }}

    <a href="{{ path('jour_show', {'id' : entity.id }) }}">
        <span class="fas fa-list"></span>
        Annuler et retour à la date
    </a>

{% endblock %}