{% extends 'animateur/layout.html.twig' %}
{% block body %}
    <div class="page-header">
        <h3>Liste des {% if search or all %}{{ tuteurs | length }}{% endif %} parents</h3>
    </div>

    {% include 'admin/search/tuteur.html.twig' %}

    {% if search or all %}
        {% if tuteurs | length > 0 %}
            <table class='table table-bordered table-hover'>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Téléphone / gsm</th>
                    <th>Conjoint</th>
                    <th>Téléphone conjoint</th>
                    <th>Enfant(s)</th>
                </tr>
                </thead>
                <tbody>
                {% for tuteur in tuteurs %}
                    <tr>
                        <td><a href="{{ path('animateur_tuteur_show', { 'slugname': tuteur.slugname }) }}"
                               title="Consulter">{{ tuteur }}</a></td>
                        <td>{{ tuteur.telephone }} {% if tuteur.gsm %} | {{ tuteur.gsm }} {% endif %}</td>
                        <td>{{ tuteur.nomconjoint }}</td>
                        <td>{{ tuteur.telephoneconjoint }} {% if tuteur.gsmconjoint %} {{ tuteur.gsmconjoint }} {% endif %} </td>
                        <td>{{ tuteur.enfants | length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-warning">Aucun parent trouvé</p>
        {% endif %}
    {% else %}
        <p>
            <a href="{{ path('animateur_tuteur_all', {'all':'oui'}) }}">Afficher tous les parents</a>
        </p>
    {% endif %}

{% endblock %}
