{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h3>Liste des enfants {% if search %}<span class='badge'>{{ enfants | length }}</span>{% endif %}</h3>
    </div>

    {% include 'admin/search/enfant.html.twig' with {'form': search_form } %}

    {% if search %}
        {% if enfants | length > 0 %}
            <table class='table table-bordered table-hover'>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Né le</th>
                    <th>Année scolaire</th>
                    <th>Parent(s)</th>
                    <th>Présences</th>
                    {% if is_granted('ROLE_MERCREDI_ADMIN') %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for enfant in enfants %}
                    <tr>
                        <td>
                            <a href="{{ path('enfant_show', { 'slugname': enfant.slugname }) }}"
                               title="Consulter sa fiche">
                                {{ enfant.nom }}
                            </a>
                        </td>
                        <td>{{ enfant.prenom }}</td>
                        <td>{% if enfant.birthday %}{{ enfant.birthday|date('d-m-Y') }}{% endif %}</td>
                        <td>{{ enfant.anneescolaire }}</td>
                        <td>{{ enfant.tuteurs | length }}</td>
                        <td>
                            {% set nonpayes = 0 %}
                            {% if enfant.presences | length > 0 %}
                                {% for presence in enfant.presences %}
                                    {% if not presence.isGratuite %}
                                        {% if not presence.paiement %}
                                            {% set nonpayes = nonpayes + 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {{ enfant.presences | length }}
                            {% if nonpayes != 0 %}
                                <span title="Présences non payées" class="text-danger">({{ nonpayes }})</span>
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_MERCREDI_ADMIN') %}
                            <td>
                                <a href="{{ path('enfant_edit', { 'slugname': enfant.slugname }) }}" title="Editer"
                                   class="btn btn-primary btn-xs">
                                    <i class="far fa-edit"></i>
                                    Editer
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-warning">Aucun enfant trouvé</p>
        {% endif %}
    {% else %}
        <p>
            <a href="{{ path('enfant_all', {'all':'oui'}) }}">Afficher tous les enfants</a>
        </p>
    {% endif %}

{% endblock %}
