{% extends 'admin/layout.html.twig' %}
{% block body %}

    <div class="page-header">
        <h3>Archive des petites plaines</h3>
    </div>

    {% include 'plaine/search/plaine.html.twig' with {'form': search_form } %}

    <table class='table table-bordered table-hover'>
        <thead>
        <tr>
            <th>Intitulé</th>
            <th>Prix1</th>
            <th>Prix2</th>
            <th>Prix3</th>
            <th>Nbr de jours</th>
            <th>Enfants</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path('plaine_show', { 'slugname': entity.slugname }) }}">
                        {{ entity.intitule }}
                    </a>
                </td>
                <td>{{ entity.prix1 }} €</td>
                <td>{{ entity.prix2 }} €</td>
                <td>{{ entity.prix3 }} €</td>
                <td>{{ entity.jours | length }}</td>
                <td>{{ entity.enfants | length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
